{{#each this}}
<li>
    <article>
        <div>
            <h1>{{name}}</h1>
        </div>
        <div>
            <h2>Capital : {{capital}}</h2>
            <span >Population : {{population}}</span>
            <div>
                <h2>Language : </h2>
                <ul>
                    {{#each languages}} <li>{{this.name}}</li> {{/each}}
                </ul>
            </div>
        </div>
        <div>
            <img src="{{flag}}" alt="" width="250" height="100">
        </div>
    </article>
</li>
{{/each}}